img{
    height: 30%;
    width: 50%;
    margin-left: 5%;
}

/* .cardContainer{
    background-color: #ffffff;
    height: 40%; 
    padding: 1%;
    margin-bottom: 1%;
    overflow:hidden;
    padding: 0px;
} */

.cus-lh{
    line-height: .55;
}
