.succesContainer{
    text-align: center;
    width: 100%;
    height: 80vh;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
}