.App {
    height: 100vh;
    width: 100vw;
    background-image:url('https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png');     
    background-size: cover; 
    
}

/* * {
    outline: 1px solid red;
}  */
